[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==2.2.3"
markdown = "*"
faker = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.7"
